<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300">

    <style>
    form {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    label,input {
    /* In order to define widths */
        display: inline-block;
        margin:10px;
    }

    label {
        width: 10%;
        /* Positions the label text beside the input */
        text-align: right;
    }

    label+input {
        width: 50%;
        /* Large margin-right to force the next element to the new-line
           and margin-left to create a gutter between the label and input */
        margin: 0 15% 0 4%;
    }

    .btn {
        margin:20px;
    }
    </style
</head>
<body style="background-color: black; padding:30px">
     {% for message in messages %}
    <div class="alert alert-{{ messages.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{ message }}
        <button type="button" class="close" data-dismiss="'alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <div class="container" style="margin-top:100px; width:50%; padding:20px; color:#20AA76; border-style:ridge; border-color:#0C3C26; text-align:center; background: black" >
        <div class="col-md-8 " style="margin: auto; width: 100%;)">
            <h3>Sign In</h3>
            <form action="/signin" method="post">
             {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" Required>
                </div>
                <div class="form-group">
                    <label for="pass1">Password</label>
                    <input type="password" id="pass1" name="pass1" placeholder="Enter your password" Required>
                </div>
                <button type="submit" class="btn btn-lg btn-dark">Sign In</button>
            </form>
        </div>
    </div>

</body>
</html>