
<!-- navbar include django template-->
<nav class="menu" style="margin-right:0px;">
	<ul style="padding-left: 5px;">
		<input type="radio" name="menu" id="archive" checked>
				<li>
					<label for="archive" class="title"><i class="fa fa-folder"></i>Student Corner</label>
					<a href="/studentmarks" style="color: #20AA76;">Student Marks</a>
					<a href="Ranksearch" style="color: #20AA76;">Rank List</a>
					<a href="form" style="color: #20AA76;">New Student</a>
				</li>
				<input type="radio" name="menu" id="edit">
				<li>
					<label for="edit" class="title"><i class="fa fa-folder"></i>Administration</label>
					<a href="#" style="color: #20AA76;">Establishment</a>
					<a href="#" style="color: #20AA76;">Faculty</a>
					<a href="#" style="color: #20AA76;">Resources</a>
				</li>
				<input type="radio" name="menu" id="tools">
				<li>
					<label for="tools" class="title"><i class="fa fa-folder"></i>About</label>
					<a href="#" style="color: #20AA76;">History</a>
					<a href="#" style="color: #20AA76;">Achievements</a>
					<a href="#" style="color: #20AA76;">Gallery</a>
					<a href="#" style="color: #20AA76;">Contact Us</a>
				</li>
	</ul>
</nav>
